body{
    background-image: url('../images/postcards-456552_1280.jpg');
    background-size: cover; 
    backdrop-filter: blur(2px);
    background-repeat: no-repeat; 
    background-attachment: fixed; 

  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.header{
    text-align: center;
} 